# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/.next-stale-*/
/out/
/dist/
# production
/build
!/build/
!/build/entitlements.mac.plist
!/build/entitlements.mac.inherit.plist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*.DS_Store

# local sqlite
data/*.sqlite
data/*.db

# sqlite restore snapshots
data/*.bak
